@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto);

body { 
  font-family: 'Roboto';
  color: #666;
  background-image:url(Background/Station.png);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  
}

#image{
position:absolute;
}

#pagewrap {
	
	padding: 5px;
	width: 1920px;
	margin: 20px auto;
}

.dropbtn {
    background-color: #5b9bd5;
    color: white;
	float:left;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #808080;
}
.dropdown {
    position: relative;
	display:flex;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 18px 18px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #AAAAAA }

.show {display:block;}

#Main {
    width: auto;
	height: 901px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}

header {
	width: 20%;
	height: auto;
	text-align:center; 
	font-size:auto;
	padding-right:8px;
	background-color:#FFFFFF;
	
}

Main {
	background-color:#FFBC4D;
	width: 100%;
	border:thin;
}

#content {
	background-color: #bfd8ef;
	
	opacity:0.9;
	width: auto;
	padding: 5px 15px;
	margin-left: 100px;
	margin-right: 100px;
}

#Advert {
	width: 12%;
	hight: 90%;
	float: left;
	border: solid;
	border-width: 1px;
	text-align:center;
	
}

.RocketH {
	float:left;	
}

#middle {
	width: 65%;
	margin:auto;
	float: left;
	margin-left:10px;
	background-color:#FFFFFF;

}

div  {
    background-size: 480px 300px;
	background-position:center;
	background-repeat:no-repeat
}

#Backframe {
	text-align:center;
	background-color:#5b9bd5;
	float:right;
	margin-top: 10px;
	margin-right: 10px;
	width: 12%;
	height: 50px;
	color:#FFFFFF;
	bordercolor:#000000;
	border-width:thin
}

#middleframe {
	background-image:url(Images/Rocket.png);
	text-align:center;
	color:#FFFFFF;
	float:left;
	width:48.5%;
	height: 300px;
	bordercolor:#000000;
	border-width:thin;
	border:solid;
	
}

#middleframe2 {
	background-image:url(Images/Plane.png);
	text-align:center;
	color:#FFFFFF;
	float:right;
	width:48.5%;
	height: 300px;
	bordercolor:#000000;
	border-width:thin;
	border:solid;
}

#middleframe3 {
	background-image:url(Images/Station.png);
	text-align:center;
	color:#FFFFFF;
	float:left;
	width:48.5%;
	height: 300px;
	bordercolor:#000000;
	border-width:thin;
	border:solid;
}

#middleframe4 {
	background-image:url(Images/Other.png);
	text-align:center;
	color:#FFFFFF;
	float:right;
	width:48.5%;
	height: 300px;
	bordercolor:#000000;
	border-width:thin;
	border:solid;
}

#Feedback {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height: 430px;
	bordercolor:#000000;
	border-width:thin;
	border:solid;
}

#sidebar {
	width: 21%;
	hight: 90%;
	float: right;
	border: solid;
	border-width: 1px;
	text-align:center;
}

footer {
	width: 99.3%; 
	hight: 80px;
	border: 5px solid grey;
	text-align: center;

}

#sidebar {
	background: #f0efef;
}

header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 1px #ccc;
}

